*{
    box-sizing: border-box;
}

.container-fluid{
    border: 10px solid grey;
        & section{
            background-color:#D3D3D3;
            display:-webkit-flex;
            display:flex;
            -webkit-justify-content:center;
            justify-content:center;
            -webkit-align-items:center;
            aligh-items:center;
            padding:45px;

                & .contact-list{
                    width:700px;
                    display:-webkit-flex;
                    display:flex;
                    -webkit-flex-direction:row;
                    flex-direction:row;
                    -webkit-flex-wrap:wrap;
                    flex-wrap:wrap;

                        & .contact{
                            width:165px;
                            height:205px;
                            padding:11px 11px 11px 14px;
                            background-color:white;
                            border:1px silid grey;
                            margin-right:3px;
                            margin-bottom:10px;


                                & .contact-image{
                                    width: 140px;
                                    height: 150px;
                                    background-size: 45px 45px, 140px 128px;
                                    background-color: transparent, transparent;
                                    background-repeat:no-repeat, no-repeat;
                                    background-position: 0px 128px-23px, left top;
                                }

                                & .contact-description-container{
                                    width:140px;
                                    height:28px;
                                    margin:0;
                                    padding:0;
                                    border:0;

                                    & p{
                                        color:black;
                                        font-size:10px;
                                        margin:0;
                                        padding:0;
                                        border:0;
                                    }

                                    & .contact-phone, .contact-email{
                                        display:none;
                                    }
                                }
                        }

                        & .contact:hover{

                            & .contact-description-container{
                                height:28px+50px;
                                position:relative;
                                top:-50px-23px;
                                background-color:white;
                                padding-top:23px;
                            }

                            & .contact-phone, .contact-email{
                                display:-webkit-flex;
                                display:flex;
                            }

                            & .contact-image{
                                    background-position: 0px 128px-50px-23px, left top;
                            }

                        }
                }
        }
}

