*{
    box-sizing: border-box;
}

.container-fluid{
    border: 10px solid grey;
        & section{
            background-color:#D3D3D3;
            display:-webkit-flex;
            display:flex;

                & .contact-list{
                    width:680px;
                    display:-webkit-flex;
                    display:flex;
                    -webkit-flex-direction:row;
                    flex-direction:row;
                    -webkit-flex-wrap:wrap;
                    flex-wrap:wrap;

                        & .contact{
                            width:165px;
                            height:205px;
                            padding:11px 11px 11px 14px;
                            background-color:white;
                            border:1px silid grey;
                            margin-right:3px;
                            margin-bottom:10px;


                                & .contact-image{
                                    width:140px;
                                    height:128px;
                                    background-clip:border-box;
                                    background-origin:border-box;
                                    z-index:-1;
                                }

                                & .contact-icon{
                                    width:45px;
                                    height:45px;
                                    background-color:transparent;
                                }

                                & .contact-description-container{
                                    width:140px;
                                    height:50px;
                                    background-size:45px 45px;
                                    background-color:white;
                                    background-repeat:no-repeat;
                                    background-position:0px -23px;
                                    z-index:2;
                                    margin:0;
                                    padding:0;
                                    border:0;

                                    & p{
                                        color:black;
                                        font-size:10px;
                                        margin:0;
                                        padding:0;
                                        border:0;
                                    }

                                    & .contact-phone, .contact-email{
                                        display:none;
                                    }
                                }
                        }
                }
        }
}

