@import "compass";
@import "variables";
@import "mixins";
@import "compass/css3";


*{
    @include box-sizing(border-box);
}

.contactListContainer{
    border:1px solid $grey-shade;
    margin:5%;
    padding-left:0px;
    padding-right:0px;
        & header{
            height:80px;
            @include display-flex;
            @include align-items(center);

                & h2, form{
                    @extend %flex-justify-center;
                }
        }
        & section{
            background-color:$grey-shade;
            @extend %flex-center;
            padding:45px;

                & .contact-list{
                    width:64.32%;
                    @extend %flex-justify-center;
                    @include flex-direction(row);
                    @include flex-wrap(wrap);

                        & .contact{
                            width:$contactBox-width;
                            height:$contactBox-height;
                            padding:11px 11px 11px 14px;
                            background-color:white;
                            border:1px silid grey;
                            margin-right:5px;
                            margin-bottom:10px;


                                & .contact-image{
                                    width: 140px;
                                    height: 150px;
                                    background-size: 45px 45px, 140px 128px;
                                    background-color: transparent, transparent;
                                    background-repeat:no-repeat, no-repeat;
                                    background-position: 0px 128px-23px, left top;
                                }

                                & .contact-description-container{
                                    width:140px;
                                    height:28px;
                                    margin:0;
                                    padding:0;
                                    border:0;
                                    background-position:-99999px -99999px;
                                    background-repeat:no-repeat;

                                    & h6{
                                        margin-bottom:0px;
                                    }

                                    & p{
                                        color:grey;
                                        font-size:10px;
                                        margin:0;
                                        padding:0;
                                        border:0;

                                            & a{
                                                color:grey;
                                            }
                                    }

                                    & .contact-phone, .contact-email{
                                        display:none;
                                    }
                                }
                        }

                        & .contact:hover{
                            @include box-shadow(#808080 3px 3px 3px 3px);

                            & .contact-description-container{
                                height:28px+50px;
                                position:relative;
                                top:-50px-23px;
                                background-color:white;
                                background-position:0px -23px;
                                background-size: 45px 45px;
                                background-repeat:no-repeat;
                                padding-top:23px;
                                background-origin:border-box;
                            }

                            & .contact-phone, .contact-email{
                                @include display-flex;
                            }

                            & .contact-image{
                                    background-position: 0px 128px-23px-50px, left top;
                            }

                        }
                }
        }
}

