<!DOCTYPE html>
<html data-ng-app="contactListApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/stylesheet.css">

    <title>Contact List</title>
</head>
<body>
    <div data-ng-controller="contactListController" class="container-fluid">
        <header class="row">
            <h2 class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1">Contact List</h2>
            <form class="col-xs-8 col-sm-8 col-md-6 col-lg-6 form-group">
                <input type="search" name="search" id="search" placeholder="search.." data-ng-model="searchText" class="form-control col-xs-8 col-sm-8 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 input-lg">
            </form>
        </header>
        <section>
            <div id="contactList" class="contact-list">
                <div class="contact" data-ng-repeat="contact in contacts">
                        <div class="contact-image" style="background-image:url({{contact.icon}}), url({{contact.profile_image}});"></div>
                        <div class="contact-description-container">
                            <h6 class="contact-name" data-ng-bind="contact.name"></h6>
                            <p class="contact-work-details" data-ng-bind="contact.job"></p>
                            <p class="contact-phone" data-ng-bind="contact.phone"></p>
                            <p class="contact-email" data-ng-bind="contact.email"></p>
                        </div>
                </div>
            </div>
        </section>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" defer></script>

<!--//AngularJS-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js" defer></script>

<!--//Third Party libraries-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js" defer></script>

<!--// Application Data-->
<!-- <script src="./js/minified/js.min.js" defer></script> -->
<script src="./js/js.js" defer></script>
</body>
</html>